body {
    background-image: url(./pictures/bg.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.image {  
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-position: center top;
}

.cards--overall {
    text-align: center;
    display: flex;
    overflow-x: auto;
}

.card {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    box-shadow: 3px 3px 12px rgb(107, 107, 107);
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 260px;
}

.card--white {
    background-color: white;
    padding: 1em;  
}

.card--shadow {
    box-shadow: 2px 2px 5px 3px gray;
}

.borders {
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
}

.container {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
   overflow: hidden;
}

.container--border {
    border: 2px white solid;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
}

.container--position {
   margin-top: -5em;
}

.icon {
    font-family: icomoon;
    line-height: 1;
    letter-spacing: normal;
    font-size: 200%;
    margin-right: 10px;
    
}

.icon--red {
    color: red;
}  

p {
    display: flex;
    align-items: center;
}

.name {
    font-weight: bolder;
    font-size: 1.5em;
}